.App {
  text-align: center;
  background-color: #f0f0f0; /* Fondo gris claro */
  font: oblique bold 120% cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007acc; /* Azul brillante */
  font: oblique bold 120% cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff; /* Texto blanco */
}

.App-link {
  color: #ff5733; /* Naranja */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
