body {
    font-family: Arial, sans-serif;
    background-image: url('../img/Mendoza.jpg'); /* Ruta relativa correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para el contenedor */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatbox {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.chatbox-header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-input button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.bot-response {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
